
* {
    font-family: Calibri (Body);

}

body {
    margin: auto;
    overflow-x: hidden;
}

.list {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 5;
}

.list ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 10px;
}

.list .li_right {
    border: 1px solid gray;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px ;
    color: blueviolet;
    font-size: 20px;
    box-shadow: 0 10px 15px 1px gray;
    text-transform: uppercase;
    font-weight: 600;
    animation: hama;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes hama {
    0% {
        color: black;
    }

    50% {
        color: blue;
    }

    100% {
        color: tomato;
    }
}


.slide {
    position: relative;
}

.slide .image {
    width: 100%;
    filter: brightness(60%);
}

.div_absol {
    position: absolute;
    top: 120px;
    left: 35%;
}

.div_absol .text_title {
    color: white;
    font-size: 20px;
    text-align: center;
}

.list .li_right {}

.list li {
    padding: 10px 30px;
}

.list li a {
    text-decoration: none;
    color: black;
    font: 20px;
}

.cta {
    border: none;
    background: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 1px;
    padding-right: 1px;
    text-transform: uppercase;
}

.hover-underline-animation {
    position: relative;


}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 4px;
    left: 0;
    background-color: #f06718;
    transform-origin: bottom left;
    transition: transform 0.35s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);

}

.cta:hover {

    color: red;

}

.dropbtn {
    position: relative;
    transition: .3s;
}

.dropbtn:hover .drop_ul {
    visibility: visible;
}

.dropbtn .drop_ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: black;
    background-color: white;
    left: -40px;
    visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #8080807a;
}

.dropbtn .drop_ul li:hover {
    color: rgb(30, 30, 212);
    cursor: pointer;
}

.home {
    color: #f06718;
    margin-right: -50px;
    font-size: 20px;
}

.office {
    color: #0077ff;
    font-size: 20px;
}

form {
    display: flex;
}

.input {

    background-color: whreditesmoke;
    border: none;
    font-size: 20px;
    height: 55px;
    width: 350px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    outline: none;


}

.input:hover {

    background-color: white;


}

.b {
    border: none;
    height: 57px;
    width: 100px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;

}

.b a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    transition: .5s;
}

.b a:hover {
    transform: scale(1.3);
}

.name {
    position: absolute;
    margin-left: 450px;
    margin-top: 130px;
    text-align: center;
    color: blanchedalmond;
    font-family: Algerian;
    list-style-type: none;

    font-size: 50px;
}

.name li {
    color: whitesmoke;
}

.card img {
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    margin-top: 70px;
    margin-left: 50px;
    transition: 0.5s;
}

.card img:hover {
    transform: scale(1.1);

}

marquee {
    scrollamount: 15s;

}




.mainminu {
    display: none;
    position: absolute;
    background-color: rgb(83, 155, 184);
    width: 100px;
    margin-top: 1px;
    border-radius: 10px;
}

.mainminu a:hover {
    color: whitesmoke;


}

.mainminu a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 16px;
}

.dropdawn:hover .mainminu {
    display: block;


}

.t {

    border-radius: 6px;
    background: linear-gradient(to bottom right, #bedcff 40%, #1f242b);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    transition: .5s;

}
.t:hover{
    transform: scale(1.1);
}

table {
    width: 100%;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color: transparent;
    transition: .5s;
}
table:hover{
    /* transform: scale(1.1); */
}

table th {

    border-bottom: 2px solid #0077ff;
    color: red;
    transition: 0.5s;

}

table th:hover {
    transform: scale(1.1);

}

table td {

    border-bottom: 2px solid #0077ff;
}


.vt {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vt video {
    width: 45%;
    float: right;
    border-radius: 8px;
    transition: .5s;
}

.text {


    width: 45%;
    float: left;
}

.it {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.it img {
    width: 45%;
    float: right;
    border-radius: 8px;
    transition: .5s;
}

.textt {
    
    
    width: 45%;
    float: left;
}

.itt {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.itt img {
    width: 45%;
    float: right;
    border-radius: 8px;
    transition: .5s;
}

.texttt {
    
    
    width: 45%;
    float: left;
}


.it img:hover {
    transform: scale(1.05);
}
.vt video:hover {
    transform: scale(1.05);
}
.itt img:hover {
    transform: scale(1.05);
}
footer {
    display: flex;
    justify-content: space-around;
    border-top: dotted 3px gray;
    margin: 20px 75px;
    align-items: center;
}

footer ul {
    display: flex;
    list-style-type: none;
    width: 300px;
    justify-content: space-around;
}

footer ul li {
    background-color: rgb(24, 124, 190);
    padding: 10px 17px;
    border-radius: 50%;
    color: whitesmoke;
    transition: .5s;
}

footer ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

footer ul li:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 10px 5px rgba(9, 101, 177, 0.347);
    cursor: pointer;
}

footer div:nth-child(2) h1 {
    color: rgb(90, 90, 90);
    font-size: 20px;
}